/********** GOOGLE FONTS *************/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

/********** VARIABLES CSS **********/
:root {
  --header-height: 3.5rem;

  /********** Colors **********/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: hsl(100, 4%, 16%);
  --text-color: hsl(108, 3%, 28%);
  --text-color-light: hsl(107, 4%, 56%);
  --body-color: hsl(108, 4%, 99%);
  --container-color: hsl(108, 4%, 95%);

  /* Change the first number */
  /* Blue: 108 - Purple: 250 - Pink: 356 - Teal: 174 */
  --gradient-color: linear-gradient(180deg,
                      hsla(108, 4%, 99%, 1),
                      hsla(108, 4%, 90%, 0.5));

  /********** Font and typography **********/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Roboto', sans-serif;
  --title-font: 'Lora', serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /********** Font weight **********/
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Responsive typo for min 1024px screen  */
@media screen and (min-width: 1024px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/********** BASE CSS **********/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  /* Transition pour le switch entre dark/light mode */
  transition: background .4s; 
}

h1, h2, h3 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/************************* DARMODE CSS *************************/

/* DARKMODE BTN */
.nav_btns{
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.theme_tn{
  cursor: pointer;
}

body.dark-mode {
  --title-color: hsl(108, 4%, 95%);
  --text-color: hsl(108, 4%, 80%);
  --text-color-light: hsl(108, 4%, 80%);
  --body-color: hsl(108, 4%, 10%);
  --container-color: hsl(108, 4%, 15%);

  --gradient-color: linear-gradient(180deg,
                      hsla(108, 4%, 10%, 0.8),
                      hsla(108, 4%, 15%, 1));
}
.dark-mode .nav, .dark-mode .nav_menu{
  background-color: var(--container-color);
}

/********** REUSABLE CSS CLASSES **********/
.container {
  max-width: 1440px;
  margin-inline: 1.5rem;
}

.section {
  padding-block: 2.5rem;
}

.section_border {
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 3.5rem;
}

.section_title, 
.section_subtitle {
  text-align: center;
}

.section_title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: .25rem;
}

.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
}

/* FOR SCROLLREVEAL  */
.main {
  overflow: hidden; 
}

/*********************** HEADER & NAV ***************************/
.header{
  width: 100%;
  position: fixed;
  bottom: 2rem;
  left: 0;
  z-index: 100;
}
.nav{
  height: calc(var(--header-height)+ .5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--body-color);
  box-shadow: 0 4px 20px hsla(108, 24%, 35%, .1);
  padding-inline: 1.5rem;
  padding: 1.25rem;
  border-radius: 3rem;
}
.nav_logo{
  font-family:  var(--title-font);
  font-weight: var(--font-medium);
  font-size: 1.25rem;
}

.nav_burger{
  cursor: pointer;
  display: flex;
}

@media screen and (max-width: 1023px) {
  .nav_menu{
    position: fixed;
    width: 88%;
    left: 0;
    right: 0;
    bottom: -60%;
    margin: 0 auto;
    background-color: var(--body-color);
    box-shadow: 0 4px 20px hsla(108, 24%, 35%, .1);
    padding: 2rem 1.5rem 4rem;
    border-radius: 2rem;
    transition: bottom .3s;
  }
}
.nav_list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.nav_link{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  font-size: var(--medium-font-size);
  color: var(--text-color-light);
  transition: color .3s;
}
/* ACTIVE LINK */
.active_link{
  color: var(--title-color);
}

.nav_link:hover{
color: var(--title-color);
}

.nav_link i{
  font-size: 1.75em;
}

.nav_close{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-size: 1.75rem ;
  cursor: pointer;
}

/* FOR DISPLAY MENU */
.display_menu{
  bottom: 2rem;
}


/*********************** SECTION HOME **************************/
.home_container_content{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.home_title{
  text-align: center;
  margin-bottom: 3rem;

}
.home_picture img{
  background: var(--gradient-color);
  border-radius: 50%;
  /* Transition pour le switch entre dark/light mode */
  transition: background .4s; 
}
.home_social_link{
  display: flex;
  gap: 1.25rem;
}
.home_social_link a{
  font-size: var(--h2-font-size);
  color: var(--text-color-light);
  transition: transform .3s;
}

.home_social_link a:hover{
  color: var(--title-color);
  transform: scale(1.2);
}
.home_description{
  max-width: 350px;
}
.home_description p{
  margin-top: 1rem;
  text-align: justify;
}

/********************** SECTION SKILLS *************************/
.skills_container{
  display: flex;
  flex-direction: column;
}
.skills_item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills_list{
/* display: flex;
flex-wrap: wrap;
gap: 2rem 0.8rem;
justify-content: center;
align-items: center; */
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, 80px);
  gap: 2rem;
  justify-content: center;
}

.skills_icon{
  display: grid;
  width: 80px;
  height: 100px;
  background-color: var(--container-color);
  border-radius: 3rem;
  place-items: center;
  margin-bottom: 1rem;
  /* Transition pour le switch entre dark/light mode */
  transition: background .4s; 
}
.skills_icon img{
  width: 40px;
}
.skills_name{
  font-size: var(--small-font-size);
}

/* TECHNO ANIMATION */
.skills_icon img:hover{
  animation: bounce .6s;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-6px); 
  }
  60% {
    transform: translateY(-3px); 
  }
}

/********************** SECTION PROJECTS ***********************/
.projects_container{
  overflow: initial;
  display: grid;
  place-items: center;
}
.swiper-wrapper{
  justify-content: center;
  align-items: center;
}
.projects_card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}
.projects_img{
  width: 250px;
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
}
.projects_card_text{
width: 250px;
}
.projects_subtitle{
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}
.projects__title{
font-size: var(--h2-font-size);
margin-bottom: 1.25rem;
margin-top: 0.5rem;
}
.projects_link_container{
  display: flex;
  justify-content: space-between;
}
.projects_link{
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--small-font-size);
  margin-bottom: 0.5rem;
}
.projects_link i{
  font-size: 1rem;
  transition: transform 0.3s;
}
.projects_link:hover i{
  transform: scale(1.5);
}
.projects_evaluation{
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}
.projects_evaluation > div{
  width: 50%;
}
.projects_evaluation > div h3{
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}
.projects_evaluation > div span{
  font-size: var(--small-font-size);
  margin-bottom: 0.5rem;
}
/* Swiper class */
.projects_container .swiper-slide{
  margin-bottom: 5rem;
}
.projects_container .swiper-button-next::after,
.projects_container .swiper-button-prev::after{
  content: '';
}
.projects_container .swiper-button-next,
.projects_container .swiper-button-prev{
  width: initial;
  height: initial;
  margin: initial;
  font-size: 2.5rem;
  color: var(--title-color);
}

.projects_container .swiper-button-prev{
  left: -1rem;
  top: 4.5rem;
}
.projects_container .swiper-button-next{
  right: -1rem;
  top: 4.5rem;
}
.projects_container .swiper-pagination-bullet{
  background-color: var(--text-color-light);
}
.projects_container .swiper-pagination-bullet-active{
  background-color: var(--title-color);
}


/********************** SECTION CONTACT ************************/
/* .contact_container{
  display: grid;
  place-items: center;
} */
.form_title{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  margin-bottom: 2.5rem;
}
.contact_form{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact_form_content{
  position: relative;
  height: 4rem;
}
.contact_form_input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  border-radius: 2rem;
  padding: 1.5rem;
  z-index: 1;
  outline: none;
  font-family: var(--title-font);
  background: none;
  color: var(--text-color);
}
.contact_form_label{
  position: absolute;
  z-index: 5;
  left: 1.75rem;
  top: -0.75rem;
  background-color: var(--body-color);
  padding: 0.35rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  /* Transition pour le switch entre dark/light mode */
  transition: background .4s; 
}
.form_area{
  height: 10rem;
}
.form_area textarea{
  resize: none;
}
.validate_message{
  text-align: center;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}
.form_button{
  margin: auto;
  width: max-content;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
  color: var(--text-color);
}
.form_button i{
  transition: transform .3s;
}
.form_button:hover i{
  transform: translateX(5px) translateY(-5px);
}
.error_message{
  text-align: center;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: red;
}

/*************************** FOOTER ***************************/
.footer_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 10rem;
}
.footer_subtitle{
  color: var(--text-color-light);
  font-size: var(--medium-font-size);
}
.footer_list{
  display: flex;
  column-gap: 2.5rem;
}
.footer_link{
  font-weight: var(--font-semi-bold);
}
.footer_link:hover{
  text-decoration: underline;
}

/******************** MODIFICATION SCROLL BAR *******************/
::-webkit-scrollbar{
  width: 0.6rem;
  background-color: hsl(107, 4%, 75%);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(107, 4%, 65%);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(107, 4%, 55%);
}

/************************* ARROW UP ***************************/
.arrowUp{
  position: fixed;
  right: 1.5rem;
  bottom: -30%;
  z-index: 1000;
  background-color: var(--body-color);
  box-shadow: 0 4px 12px hsl(107, 4%, 55%);
  border-radius: 50%;
  padding: 0.2rem 0.3rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--title-color);
  transition: bottom .3s, transform .3s;
}
.arrowUp:hover{
  transform: translateY(-3px);
}

/* Show Arrow Up*/
.showArrowUp{
bottom: 8rem;
}

/*********************** RESONSIVE CSS **************************/

/************* Small screen ***************/
@media screen and (max-width:349px) {
  .container{
    margin-inline: 1rem;
  }
  .nav_menu{
    padding-bottom: 3.5rem;
  }

  .nav_list{
    gap: 1rem;
  }
  .skills_list{
    gap: 1rem 1.8rem;
    grid-template-columns: repeat(2, 80px);
  }
  .projects_card, .projects_img, .projects_card_text{
    width: 200px;
  }
  .form_title{
    font-size: var(--smaller-font-size);
  }
}

/************* Medium screen ***************/

@media screen and (min-width:540px) {
  /* NAV */
  .nav, .nav_menu{
    width: 380px;
  }
  .nav{
    margin: 0 auto;
  }
  /* SESCTION PROJECTS */
  .projects_container{
    overflow: hidden;
    width: 400px;
  }
  .projects_container .swiper-button-next{
    right: 1rem;
  }
  .projects_container .swiper-button-prev{
    left: 1rem;
  }
}

@media screen and (min-width:768px){
  /* SECTION CONTACT */
  .contact_form{
    width: 360px;
    margin: 0 auto;
  }
}
/************* Large screen ***************/
@media screen and (min-width:1024px){
  /* GENERAL CSS */
  .section {
    padding-block: 8rem 0;
  }
  /* HEADER & NAV */
  .header{
    top: 0;
    bottom: initial;
    background-color: var(--body-color);
    transition: .4s;
    
    margin-bottom: 8rem;
    height: var(--header-height);
  }
  .nav{
    width: initial;
    height: var(--header-height);
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    gap: 3rem;
    transition: background .4s;
    padding: 1.5rem;
  }
  .nav_burger,
  .nav_close,
  .nav_link i{
    display: none;
  }
  .nav_menu{
    background-color: var(--body-color);
    transition: background .4s;
    width: initial;
    margin-left: auto;
    border-radius: none;
  }
  .nav_link:hover{
    color: var(--text-color-light);
  }
  /* A VALIDER ??? */
  .dark-mode .active_link{
    background: hsl(107, 4%, 75%);
    /* color: hsl(108, 4%, 15%) ; */
  }
  .active_link{
    color: var(--body-color);
    background: hsl(100, 4%, 16%);
    padding: 1rem;
    transform: scale(1.2);
    font-weight: var(--font-semi-bold);
    transition: background .4s, transform .4s;
  }
  .dark-mode .nav,
  .dark-mode .nav_menu{
    background-color: var(--body-color);
    transition: background .4s;
  }
  .arrowUp{
    right: 3rem;
  }
  .header_shadow{
    box-shadow: 0 4px 20px hsla(108, 4%, 55% );
  }
  
  /* SECTION PROJECTS */
  .skills_list{
    gap: 5rem;
  }
  .projects_container{
    width: 900px;
  }
  .projects_container .swiper-button-next,
  .projects_container .swiper-button-prev{
    font-size: 3rem;
  }
  .projects_container .swiper-button-next{
    right: 0.25rem;
  }
  .projects_container .swiper-button-prev{
    left: 0.25rem;
  }
  .projects_card, .projects_img, .projects_card_text{
    width: 310px;
  }

  /* FOOTER */
  .footer_container{
    padding-top: 2.5rem;
  }
  .footer_title_container{
    display: grid;
    place-items: center;
  }

  
}
@media screen and (min-width:1490px){
  /* GENERAL CSS */
  .section,
  .container{
    margin: auto;
    max-width: 1440px;
  }
  /* FOOTER */
  .footer_container{
    padding-bottom: 5rem;
  }
}